.vjs-theme-cf {
	--vjs-theme-cf--primary: #6fb04e;
	--vjs-theme-cf--secondary: #fff;

  .vjs-current-time,
  &.vjs-no-flex .vjs-current-time,
  .vjs-duration,
  &.vjs-no-flex .vjs-duration,
  .vjs-time-divider {
    display: block;
  }

  .vjs-big-play-button {
    width: 70px;
    height: 70px;
    background: none;
    background-repeat: no-repeat;
    background-position: 50%;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' fill='%23fff'%3E%3Cpath fill-rule='evenodd' d='M44 88C19.738 88 0 68.262 0 44S19.738 0 44 0s44 19.738 44 44-19.738 44-44 44zm0-85C21.393 3 3 21.393 3 44c0 22.608 18.393 41 41 41s41-18.392 41-41C85 21.393 66.607 3 44 3zm16.063 43.898L39.629 60.741a3.496 3.496 0 01-3.604.194 3.492 3.492 0 01-1.859-3.092V30.158c0-1.299.712-2.483 1.859-3.092a3.487 3.487 0 013.604.194l20.433 13.843a3.497 3.497 0 01.001 5.795zm-1.683-3.311L37.946 29.744a.49.49 0 00-.276-.09.51.51 0 00-.239.062.483.483 0 00-.265.442v27.685c0 .262.166.389.265.442.1.053.299.118.515-.028L58.38 44.414A.489.489 0 0058.6 44a.49.49 0 00-.22-.413z'/%3E%3C/svg%3E");
    background-size: 70px 70px;
    border: none;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
    color: purple;
    visibility: visible;

    .vjs-icon-placeholder {
      display: none;
    }
  }

  &.vjs-big-play-button:focus,
	&:hover .vjs-big-play-button {
		background-color: transparent;
		background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' fill='%236fb04e'%3E%3Cpath fill-rule='evenodd' d='M44 88C19.738 88 0 68.262 0 44S19.738 0 44 0s44 19.738 44 44-19.738 44-44 44zm0-85C21.393 3 3 21.393 3 44c0 22.608 18.393 41 41 41s41-18.392 41-41C85 21.393 66.607 3 44 3zm16.063 43.898L39.629 60.741a3.496 3.496 0 01-3.604.194 3.492 3.492 0 01-1.859-3.092V30.158c0-1.299.712-2.483 1.859-3.092a3.487 3.487 0 013.604.194l20.433 13.843a3.497 3.497 0 01.001 5.795zm-1.683-3.311L37.946 29.744a.49.49 0 00-.276-.09.51.51 0 00-.239.062.483.483 0 00-.265.442v27.685c0 .262.166.389.265.442.1.053.299.118.515-.028L58.38 44.414A.489.489 0 0058.6 44a.49.49 0 00-.22-.413z'/%3E%3C/svg%3E");
    background-size: 70px 70px;
	}

  .vjs-button {
    > .vjs-icon-placeholder {
      &:before {
        font-size: 2.2em;
      }
    }
  }

  .vjs-control-bar {
    background: none;
    margin-bottom: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .vjs-play-control {
    .vjs-icon-placeholder {
      &:before {
        font-size: 2.4em;
        width: 40px;
        height: 30px;
      }
    }
  }

  .vjs-control:not(.vjs-disabled):not(.vjs-time-control):hover {
    opacity: 1;
  }

  .vjs-progress-holder {
    height: 6px;
    margin: 0;
  }

  .vjs-progress-control {
    &:hover {
      .vjs-progress-holder {
        font-size: 1em;
      }
    }
  }

  .vjs-play-progress {
    &:before {
      font-size: 1.9em;
      top: -12px;
    }
  }

  .vjs-load-progress,
  .vjs-load-progress div,
  .vjs-play-progress,
  .vjs-progress-holder {
    border-radius: 5px;
  }

  &.video-js {
    .vjs-control {
      height: 30px;
      line-height: 30px;

      &:focus:before,
      &:hover:before,
      &:focus {
        text-shadow: none;
      }

      &.vjs-button {
        width: 40px;
        opacity: .9;

        .vjs-icon-placeholder {
          &:before {
            line-height: 30px;
          }
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    .vjs-slider {
      text-shadow: 0 0 3px rgba(20, 22, 26, 0.2);
      box-shadow: 0 1px 3px rgba(20, 22, 26, 0.2);
    }

    .vjs-slider,
    .vjs-load-progress div {
      background: rgba(225, 225, 225, 0.4);
    }

    .vjs-progress-control {
      .vjs-mouse-display {
        background: transparent;
      }
    }

    .vjs-time-divider {
      min-width: 0;
      padding-left: 0;
      padding-right: 0;
      line-height: 30px;
    }

    .vjs-time-control {
      min-width: 1em;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }

    .vjs-time-tooltip {
      border-radius: 3px;
      padding: 4px 8px;
      line-height: 16px;
      text-shadow: none;
      top: -2.8em;
    }

    .vjs-mouse-display {
      .vjs-volume-tooltip {
        color: #111;
        background-color: rgba(255, 255, 255, 0.8);
        text-shadow: none;
        line-height: 18px;
      }
    }

    .vjs-volume-control {
      .vjs-mouse-display {
        background: transparent;
      }

      &:hover {
        .vjs-volume-tooltip,
        .vjs-progress-holder:focus .vjs-volume-tooltip {
          top: -4.4em;
          font-size: 1.2em;
        }
      }
    }

    .vjs-volume-vertical {
      background: transparent;
      pointer-events: none;
    }

    .vjs-volume-bar {
      &.vjs-slider-vertical {
        width: 0.6em;
        height: 8em;
        margin: 0 auto;
        border-radius: 5px;
        pointer-events: auto;

        .vjs-volume-level {
          width: 0.6em;
          border-radius: 5px;
          background-color: var(--vjs-theme-cf--primary);

          &:before {
            top: -0.8em;
          }
        }
      }
    }

    .vjs-time-tooltip,
    .vjs-time-control,
    .vjs-progress-control:hover .vjs-time-tooltip,
    .vjs-progress-control:hover .vjs-progress-holder:focus .vjs-time-tooltip {
      font-size: 1.2em;
    }

    .vjs-volume-level {
      &:before {
        font-size: 1.4em;
      }
    }

    .vjs-slider-horizontal {
      .vjs-volume-level {
        &:before {
          top: -12px;
        }
      }
    }

    .vjs-volume-bar.vjs-slider-horizontal,
    .vjs-slider-horizontal .vjs-volume-level {
      height: 0.6em;
      border-radius: 5px;
    }
  }

  &.vjs-playing,
  &.vjs-seeking {
    .vjs-big-play-button {
      opacity: 0;
      visibility: hidden;
    }
  }
}
